/* Background pattern from Toptal Subtle Patterns */
body{
    background-image: url(../images/subtle-patterns/brickwall_@2X.png);
    background-color: #eaeaea;
    font-family: 'Indie Flower', cursive;
    color: rgb(39, 39, 39);
}

h3{
    font-size:2.7rem;
}

h4{
    font-size: 2rem;
}

p{
    font-size:1.4rem;
}

.clock{
    position: absolute;
    top:1em;
    right:2em;
    padding: .05em .3em;
    width:4em;
    font-family: 'digitalClock', monospace;
    font-size: 2.1em;
    letter-spacing: 0.05em;
    color:greenyellow;
    background-color: black;
    border: 3px solid;
    border-image: radial-gradient(rgb(100,100,100),rgb(200,200,200)) 1;
    box-shadow: 2px 2px 2px grey;
}

.corkBoard{
    background-image: url(../images/subtle-patterns/cork-board.png);
    background-color: #deb494;
    border: 14px solid;
    border-image: radial-gradient(rgb(100,100,100),rgb(200,200,200)) 1;
    box-shadow: 5px 5px 5px grey;
    padding: 2em;
    overflow: none;
}

.paper{
    background-image: url(../images/subtle-patterns/lightpaperfibers.png);
    background-color: white;
    border-radius: 2px;
    box-shadow: 2px 2px 3px grey;
    padding: 1.5em;
}

.magnetsTitle{
    position: relative;
    top: -0.2em;
    font-family: 'Alfa Slab One', serif;
    font-size: 3.7rem;
    color:rgb(89, 81, 160);
    text-shadow:1px 1px black, 
                2px 2px black, 
                3px 3px black, 
                5px 5px 5px rgb(41, 41, 41);
}

.magnetsSettings{
    font-family: 'Alfa Slab One', serif;
    font-size: 2.8rem;
    color:rgb(89, 81, 160);
    text-shadow:1px 1px black, 
                2px 2px black, 
                3px 3px 3px rgb(41, 41, 41);
}

.magnetsSettings:hover,.magnetsSettings:active{
    color:rgb(81, 151, 160);
    cursor: pointer;
}

.tack{
    display: block;
    position: absolute;
    top:-0.4em;
    left:.3em;
    font-size: 2em;
    color: green;
    text-shadow: 1px 1px 2px black;
    transform: rotate(-18deg);
    margin:0;
}

.check{
    display: block;
    position: absolute;
    top:.4em;
    right:.7em;
    font-size: 2.5em;
    color:green;
}

.cross{
    display: block;
    position: absolute;
    top:.4em;
    right:.7em;
    font-size: 2.5em;
    color:red;
}

.pauseResume{
    display: block;
    position: absolute;
    top:2.145em;
    right:3.2em;
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    color:greenyellow;
}

.pauseResume:hover{
    cursor: pointer;
}

.fa-minus-circle:hover{
    cursor: default;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button{
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
}

#mainContent{
    margin-top: 6em;
}

@media (max-width: 576px){
    .magnetsTitle{
        font-size: 2.4em;
    }

    .magnetsSettings{
        font-size:1.5em;
    }

    .corkBoard{
        padding-top: 5.7em;
    }

    .paper{
        padding:.8em;
    }

    .clock{
        top:.9em;
        left:1.8em;

    }

    .pauseResume{
        top:2.04em;
        left:6.6em;

    }

    h3{
        font-size:1.6rem;
    }
    
    h4{
        font-size: 1.2rem;
    }
    
    p{
        font-size:1.1rem;
    }
}

@font-face {
    font-family: digitalClock;
    src: url(../fonts/ds_digital/DS-DIGI.TTF);
}

@font-face {
    font-family: Indie Flower;
    src: url(../fonts/GoogleFonts/Indie_Flower/IndieFlower-Regular.ttf);
}

@font-face {
    font-family: Alfa Slab One;
    src: url(../fonts/GoogleFonts/Alfa_Slab_One/AlfaSlabOne-Regular.ttf);
}